
<div class="container">
    <div class = "row">
        
        <div class="col-md-12 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat01.jpg" %>>
        </div>
        
        <br>
        <div class="col-md-12 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat02.jpg" %>>
        </div>
        
        <br><br>
        <div class="col-md-12  col-xs-12" style="padding:0; background:#FFFFFF;">
            <h2>ライフスタイルの多彩な広がりに応える<br>
            新たな食文化の創造へ。<br>
            earthmeatは、<br>
            ヨーロッパ生まれのやさしいお肉。<br><br>
            
            植物由来ながら、肉と遜色ないジューシーな食感と、 <br>
            冷めてもやわらかいという特徴があり、 <br>
            ヘルシーで、おいしいお料理を提供することができます。<br>
            これまでお肉を口にできなかった方はもちろん、 <br>
            さまざまなメニューに取り入れることで、 <br>
            おいしさの可能性を広げてください。
            </h2>
    　　</div>
    </div>
    
    <div class = "row o-3column">
    　　<br><br>
        <div class="col-md-6 col-xs-12" style="background:#F7F2E0;  padding: 0;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat03.jpg" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#F7F2E0; padding: 0;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat04.jpg" %>>
        </div>  
        
        <div class="col-md-12 col-xs-12" style="background:#F7F2E0;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat06.png" %>>
        </div>
        <div class="col-md-12 col-xs-12" style="background:#F7F2E0; " >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat06.png" %>>
        </div>   
        <div class="col-md-12 col-xs-12" style="background:#F7F2E0; " >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat07.png" %>>
        </div>   
        <div class="col-md-4 col-xs-12" style="background:#F7F2E0; padding: 0;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat11.png" %>>
        </div>
        <div class="col-md-4 col-xs-12" style="background:#F7F2E0; padding: 0;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat12.png" %>>
        </div>   
        <div class="col-md-4 col-xs-12" style="background:#F7F2E0; padding: 0;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat13.png" %>>
        </div>    
      
  　</div>
</div>
