<!DOCTYPE html>
<html>
  <head>
    <title>Earthmeat</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <meta name="keywords" content="earthmeat,ヴィーガン,大豆ミート,ソイミート,ビーガン,アースミート,earth meat,ベジミート,プラントベースフード,プラントベースミート,代替肉,
    肉代替,植物肉,ソイミート,謎肉,ベジタリアン,ビーガン,ベジ,ミートフリー,高タンパク">
　　<meta name="description" content="大地から生まれた優しいお肉earthmeat">
　　<meta name="google-site-verification" content="m787eJ0nsqUH_QGqgsGPRXQcJscwQyvfD3Qo2xTCxnQ" />
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
